body {
  background-color: #333;
  color: white;
  font-family: monospace;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: .15s ease;
}
img {
  max-width: 300px;
  max-height: 80vh;
  border-radius: 16px;
  box-shadow: 0 10px 20px #0004, 0 2px 56px #0004;
  opacity: 0;
  transform: translateY(16px) scale(0.95);
  transition: inherit;
}
img.active {
  transform: translateY(0) scale(1);
  opacity: 1;
}
